.w-100 {
    width: 100%;
}

.mb-3 {
    margin-bottom: 1rem;
}

/* Paleta de cores customizada */
.btn-cancel {
    color: #424242 !important;
}

.btn-cancel:hover {
    background-color: #f5f5f5 !important;
}

.btn-save {
    background-color: #424242 !important;
    color: white !important;
}

.btn-save:hover:not(:disabled) {
    background-color: #616161 !important;
}

.btn-save:disabled {
    background-color: #bdbdbd !important;
    color: white !important;
}
