.tab-content {
    padding: 1rem 0;
    min-height: 200px;
}

.mat-mdc-form-field {
    padding-top: 0.25rem;
}

/* Paleta de cores customizada */
.btn-cancel {
    color: #424242 !important;
}

.btn-cancel:hover {
    background-color: #f5f5f5 !important;
}

.btn-save {
    background-color: #424242 !important;
    color: white !important;
}

.btn-save:hover:not(:disabled) {
    background-color: #616161 !important;
}

.btn-save:disabled {
    background-color: #bdbdbd !important;
    color: white !important;
}

/* Estilização das tabs */
::ng-deep .mat-mdc-tab-group {
    --mdc-tab-indicator-active-indicator-color: #424242;
}

::ng-deep .mat-mdc-tab.mdc-tab--active .mdc-tab__text-label {
    color: #424242;
}
