.container {
  max-width: 600px;
  margin: 0 auto;
}

.mb-3 {
  margin-bottom: 1rem;
}

.mb-4 {
  margin-bottom: 2rem;
}

.p-3 {
  padding: 1.5rem;
}

.w-100 {
  width: 100%;
}

.table-container {
  overflow-x: auto;
}

.btns_acoes{
  display: flex;
  gap: 0.5rem;
  justify-content: flex-end;
}
