<h2 mat-dialog-title>{{ isEditMode ? 'Editar Venda' : 'Nova Venda' }}</h2>

<mat-dialog-content [formGroup]="form">
  
  <mat-form-field appearance="outline" class="w-100">
    <mat-label>Produto</mat-label>
    <mat-select formControlName="produtoId" required>
      <mat-option *ngFor="let p of produtos" [value]="p.id">{{ p.nome }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline" class="w-100">
    <mat-label>Quantidade</mat-label>
    <input matInput type="number" formControlName="quantidade" required min="1">
  </mat-form-field>
  
  <mat-form-field appearance="outline" class="w-100">
    <mat-label>Data da Venda</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="data">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field appearance="outline" class="w-100">
    <mat-label>ID do Fornecedor (Automático)</mat-label>
    <input matInput type="number" formControlName="fornecedorId">
  </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-stroked-button (click)="onCancel()">Cancelar</button>
  <button mat-flat-button color="primary" (click)="onSave()" [disabled]="form.invalid">
    {{ isEditMode ? 'Salvar' : 'Criar' }}
  </button>
</mat-dialog-actions>