.container {
    padding: 20px;
}

.table-container {
    overflow-x: auto;
    margin-bottom: 20px;
}

.btns_acoes {
    display: flex;
    gap: 8px;
}

.w-100 {
    width: 100%;
}

.mb-3 {
    margin-bottom: 1rem;
}

.mt-4 {
    margin-top: 1.5rem;
}

.d-flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}
